		<!-- BOTTOM BAR -->
		<div id="bottomBar">
				<div id="bottomBarContainer">
					<div id="bottomBarLogos">
						<a href="home.html">
							<div id="bottomBarCampLogo">
							</div>
						</a> 
						<a href="http://www.pixelacademy.org/" target="_blank">
							<div id="bottomBarPixelLogo">
							</div>
						</a>
					</div>
					<div id="bottomBarLinks">
						<div id="mainLinks">
							<a href="about.html">
								About CAMP/pixel
							</a>
							<a href="topics.html">
								Topics
							</a>
							<a href="schedule.html">
								Daily Schedule
							</a>
							<a href="about.html#location">
								Location
							</a>
							<a href="about.html#cost">
								Cost
							</a>
						</div>
						<div id="aboutLinks">
							<a href="contactfaq.html">
								Contact Us
							</a>
                            <a href="http://hq.pixelacademy.org/refunds">
								Refund Policy
							</a>
                            <a href="http://www.pixelacademy.org/subscribe">
								Subscribe to our Mailing List
							</a>
                            <a href="https://pixelacademy.workable.com/" target="_blank">
								Employment Opportunities
							</a>
							<a href="http://www.pixelacademy.org/" target="_blank">
								Pixel Academy Home Page
							</a>
						</div>
					</div>
				</div>
				<div id ="bottomBarButtons">
					<a href="https://hq.pixelacademy.org/tickets/camp-pixel">
						<div id="bottomBarSignUp">
							SIGN UP
						</div>
					</a>
					<a href="contactfaq.html">
						<div id="bottomBarSignUp">
							CONTACT/faq
						</div>
					</a>
				</div>
			</div>